[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
networkx = "*"
selenium = "*"
numpy = "*"
jupyter = "*"
pgmpy = "*"
matplotlib = "*"

[dev-packages]

[requires]
python_version = "3.9"
